<app-navbar>
</app-navbar>
<!-- ngStyle permite poner estilo a componentes HTML-->

<div class="container main-conteiner">
    <h1>Demos <small>angular</small></h1>
    <hr>

    <!-- <app-ng-style></app-ng-style>
    <hr>
    <app-css></app-css>
    <p>
        Hola Mundo desde app.component
    </p>
    <hr>
    <app-clases></app-clases>
    <br> <br>
    <hr> -->
    <!-- <p appResaltado>
        Hola mundo Resaltado
    </p> -->

    <!-- quiero mandarle como parametro el color de resaltado -->
    <!-- <p [appResaltado]="'blue'">
        Hola mundo Resaltado
    </p>
    <hr>
    <app-ng-switch></app-ng-switch>
    <hr> -->

    <router-outlet></router-outlet>


</div>